<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shunlian.app">


    <!-- 本项目中使用权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name ="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTENT_FILTER_VERIFICATION_AGENT" />

    <!--jpush-->
    <permission
        android:name="com.shunlian.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.shunlian.app.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--jpush-->

    <!--银联支付-->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce"/>
    <!--银联支付-->

    <!--bugly-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--<meta-data
        android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
        android:value="GlideModule" />-->

    <!--TBS（x5内核）-->
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <!--TBS（x5内核）-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <!--银联支付-->
        <uses-library android:name="org.simalliance.openmobileapi" android:required="false"/>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!--银联支付-->

        <!--配置glide缓存-->
        <meta-data
            android:name="com.shunlian.app.utils.GlideCacheUtil"
            android:value="GlideModule" />

        <!--jpush-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.shunlian.app.DataProvider"
            android:exported="true" />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.shunlian.app" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.shunlian.app.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.shunlian.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.shunlian.app" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.DownloadService"
            android:exported="false" />
        <!-- SDK核心功能-->
        <!--<activity-->
        <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:exported="false"-->
        <!--android:theme="@style/MyDialogStyle">-->
        <!--<intent-filter>-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="com.shunlian.app" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <!--<receiver-->
        <!--android:name="自定义 Receiver"-->
        <!--android:enabled="true" >-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->
        <!--<category android:name="com.shunlian.app" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.shunlian.app" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!-- Required. AppKey copied from Portal -->
        <!-- 公司 -->
        <!-- 3cbe47ad444ddec83ea45d31 -->
        <!-- 测试 -->
        <!-- augus:4a85a233f140802d8ff97cff   ee43de8743a5ffe348cb1d88 -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3cbe47ad444ddec83ea45d31" />
        <!--jpush-->
        <!-- 多渠道打包时改成360，因为360市场要上传原apk -->
        <!--ShunLianPower-->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="ShunLianPower" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <activity
            android:name=".ui.start.StartAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".ui.login.LoginAct"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.register.SelectRecommendAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.more_credit.PhoneRecordAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.more_credit.PhonePaySuccessAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.more_credit.PhoneOrderDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.start.GuideAct"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/android:Theme.NoTitleBar.Fullscreen" />-->
        <activity
            android:name=".ui.register.TestAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/wx" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxbffd8c8c412e4c73" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.store.StoreAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods_detail.GoodsDetailAct"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".ui.store.StoreIntroduceAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreSortAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods_detail.ComboDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.ConfirmOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receive_adress.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receive_adress.AddressManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.confirm_order.MegerOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.ADAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.receive_adress.AddAdressAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="pay.PayListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/pay" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name=".ui.my_comment.MyCommentAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreLicenseAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.CreatCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.my_comment.CommentDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.MyOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.confirm_order.SearchOrderActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.my_comment.LookBigImgAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.CommentSuccessAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.SearchOrderResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plus.PlusOrderDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.PaySuccessAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.OrderLogisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.SuccessfulTradeAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.ExchangeDetailAct"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.h5.H5Act"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.h5.H5X5Act"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.h5.H5SpecialAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".photopick.PhotoPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.SelectServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.ReturnRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.CategoryLetterAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.ConsultHistoryAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.RefundAfterSaleAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zxing_code.ZXingDemoAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.SubmitLogisticsInfoAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.CategoryAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.returns_order.SelectLogisticsAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.CategoryFiltrateAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/pay" />
        <activity
            android:name=".ui.category.RankingListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.PlatformInterventionRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.goods_detail.SearchGoodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DayDayAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collection.MyCollectionAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collection.SearchResultAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.SignInAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreSearchAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.qr_code.QrCodeAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.HelpOneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.HelpTwoAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myself_store.MyLittleStoreActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myself_store.AddStoreGoodsAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.BrandListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myself_store.GoodsSearchAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myself_store.QrcodeStoreAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.other.SearchArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.jingxuan.ArticleH5Act"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.discover.jingxuan.TagDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.other.ExperiencePublishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.other.CommentListAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.discover.other.CommentDetailAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.discover.guanzhu.FindSelectShopAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.discover.quanzi.DiscoverTieziAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.discover.quanzi.DiscoverTieziDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.discover.quanzi.DiscoverPublishPhotoAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.help.SearchQuestionAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.help.HelpClassAct"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".newchat.ui.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".newchat.ui.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".newchat.ui.StoreMsgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".newchat.ui.FoundMsgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.ui.SearchCustomerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.discover.other.ExperienceDetailAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.message.SystemMsgAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.ui.SelectGoodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.ui.CustomerListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.ui.SwitchOtherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.ui.SelectStoreGoodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ui.sale_data.SaleDataAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale_data.SaleDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_profit.MyProfitAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.my_profit.ProfitExtractAct"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.my_profit.DetailOrderRecordAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceMainAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.AmountDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceXQAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceTXAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceResultAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalancePaySetAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalancePaySetOneAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalancePaySetTwoAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.BalanceVerifyPhoneAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.AlipayMyAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.AlipayAddAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.balance.AlipayDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.CouponListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_profit.SexSelectAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_profit.SelectLabelAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.PersonalDataAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.NickNameAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.AutographAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.UserSecurityAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SelectLikeAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.feed_back.BeforeFeedBackAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.feed_back.NewFeedBackAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.BusinessCardAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.AishangAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.KouBeiAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.PingpaiAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.HotRecommendAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.GetCouponAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.task.EggDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.SearchCouponAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.core.PingpaiListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale_rank.SaleRankAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.HelpSolutionAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.ClassDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plus.GifBagListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.PunishAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.PLUSConfirmOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".ui.plus.MyPlusAct"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.plus.SuperProductsAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plus.PlusGifDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plus.PlusOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.plus.PlusLogisticsDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.fragment.SortAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.register.RegisterAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.setting.change_user.ModifyAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".newchat.ui.CouponMsgAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newchat.util.ChatDialog"
            android:exported="false"
            android:theme="@style/chatDialog"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.more_credit.MoreCreditAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.new_login_register.LoginEntryAct"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.new_login_register.RegisterAndBindingAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.coupon.UserCouponListAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.coupon.CouponGoodsAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.discover.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name=".ui.LuckWheelPanActivity"
            android:exported="false" />
        <activity android:name=".ui.task.TaskCenterAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/wx"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.FindSendPictureTextAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.SelectPicVideoAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.NearAddressAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.AddTopicAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.SelectGoodsAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.find_send.BrowseImageVideoAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>