<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shunlian.app">

    <!-- 本项目中使用权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.autofocus"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTENT_FILTER_VERIFICATION_AGENT" />

    <meta-data
        android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
        android:value="GlideModule" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.register.RegisterOneAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.register.RegisterTwoAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.login.LoginAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.register.SelectRecommendAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.InputVerfiCodeAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.register.BindingPhoneAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.register.TestAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/wx" />
        <activity
            android:name=".ui.login.FindPswAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods_detail.GoodsDetailAct"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreIntroduceAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreSortAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goods_detail.ComboDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.ConfirmOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receive_adress.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receive_adress.AddressManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.confirm_order.MegerOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.receive_adress.AddAdressAct"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="pay.PayListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/pay" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name=".ui.my_comment.MyCommentAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store.StoreLicenseAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.CreatCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.my_comment.CommentDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.MyOrderAct"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.confirm_order.SearchOrderActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.my_comment.LookBigImgAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.CommentSuccessAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.SearchOrderResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.PaySuccessAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.confirm_order.OrderLogisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_comment.SuccessfulTradeAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.ExchangeDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.h5.H5Act"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity
            android:name=".photopick.PhotoPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.SelectServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.returns_order.ReturnRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.CategoryLetterAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.returns_order.ConsultHistoryAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.returns_order.RefundAfterSaleAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.zxing_code.ZXingDemoAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.returns_order.SubmitLogisticsInfoAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.category.CategoryAct"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.returns_order.SelectLogisticsAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.category.CategoryFiltrateAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/pay"/>
        <activity android:name=".ui.category.RankingListAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.order.PlatformInterventionRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.goods_detail.SearchGoodsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.DayDayAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.collection.MyCollectionAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.collection.SearchResultAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.sign.SignInAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.qr_code.QrCodeAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.myself_store.MyLittleStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.myself_store.AddStoreGoodsAct"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.category.BrandListAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.myself_store.GoodsSearchAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.myself_store.QrcodeStoreAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.SearchArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.h5.ArticleH5Act"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.TagDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.ExperiencePublishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.discover.CommentListAct"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.discover.CommentDetailAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.discover.FindSelectShopAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.discover.quanzi.DiscoverTieziAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.discover.quanzi.DiscoverTieziDetailAct"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>